html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
}

section {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

section > * {
	flex-basis: 50%;
}

h1 {
	padding: 8px 16px;
	margin: 0;
	border-bottom: 1px solid #000;
}
h1 > small {
	padding-left: 8px;
	font-size: small;
}

#messages {
	font-family: monospace;
	background-color: #efefef;
	padding: 12px;
}

#history {
	white-space: pre;
}

#send {
	padding: 12px;
}

textarea {
	display: block;
	margin-bottom: 8px;
	width: 100%;
	height: 100px;
}
